ul{
	list-style-type: none;
	margin-left: -40px;
}

#asociacionesEmergencias span, #sintomas span{
	float: left;
}

#checkboxAsoc, #listaSintomas{
	display: none;
	width: 220px;
	max-height: 93px;
	padding-left: 0px;
	margin-left: 0px;
	position: absolute;
	overflow: auto;
	background-color: white;
}

ul:hover li #checkboxAsoc, ul:hover li #listaSintomas{
	display: block;
	border: 1px solid black;
}

#contenedor_mapa{
	border: 1px solid #999999;
	padding: 5px 5px 4px 5px;
	margin-right: -2px;
}

#dhtmlgoodies_tabView2{
	margin-right: -2px;
}

#planta0{
	font-weight: bold;
	text-decoration: underline;
}

#planoResidencia{
	height: 490px;
}

.plano_residencia{
	border: 1px solid black;
	/*margin: 50px;*/
}

.plano_residencia td{
	border: solid black 1px;
	/*padding: 10px;*/
}

#messages{
	margin-top: 21px;
	height: 508px;
}

#accion{
	margin-top: 21px;
	height: 100px;
}

.importante{
	color: #C00000;
	font-weight: bold;
}

#close_messages, #open_messages{
	margin-top: 5px;
}