/* @charset "utf-8"; */
body{
    font-family: 'Trebuchet MS', Arial, Verdana, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #999999;
    margin: 8px;
    padding: 0px;
}

h5{
    font-family: 'Trebuchet MS', Arial, Verdana, Helvetica;
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    padding: 0px;
    margin: 0px;
}

#fecha{
    font-family: 'Trebuchet MS', Arial, Verdana, Helvetica;
    font-weight: normal;
    color: #999999;
}

#reloj{
    right: 0px;
    color: #999999;
}

/* FORMULARIO con TABS */

form, textarea, input, form table{
    font-family: 'Trebuchet MS', Arial, Verdana, Helvetica;
    font-weight: normal;
    font-size: 12px;
    color: #666666;
}

input:focus, textarea:focus {
    border: 2px solid #FFC83C;
}

form table img{
    margin-bottom: 10px;
    padding: 8px;
}

.rayas{
    border: 1px dashed #cccccc;
    padding: 10px;
    margin: 3px;
}

.info, .descripcion, .nombre{
    width: 98%;
    margin-top: 5px;
}

.direccion{
    width: 100%;
    height: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.botones{
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
}

#quantity{
    margin: 0px;
    padding: 0px;
}

/* AQUI ACABA EL FORMULARIO */

#left{
    width: 240px;
}

#right{
    margin-left: 0px;
}

#cabecera{
    float: left;
}

#minitabs{
	width: 120px;
	height: 10px;
}

.minitab{
	position: relative;
	top: 11px;
	left: 164px;
	float: left;
}

.minitab :hover{
	position: relative;
	top: -6px;
}

#screen{
    font-family: Courier, monospace;
    font-size: 12px;
    margin-top: 53px;
    height: 150px;
    padding: 10px;
    border: 1px solid #919b9c;
    background-color: #efefef;
    color: #000000;
    overflow: scroll;
}

#close_screen{
    text-decoration: none;
    background-color: #CCCCCC;
    border: 1px #919b9c solid;
    color: black;
    padding: 0px 3px 0px 3px;
    position: absolute;
    right: 10px;
    margin-top: 34px;
	margin-right: -2px;
}

.slideMenu{
    position: absolute;
    top: 91px;
    right: 6px;
    width: 290px;
    padding: 10px;
    border: 1px solid #c4d6e1;
    background-color: #eef8fa;
    color: #666666;
    list-style: none;
    list-style-type: none;
}

#bocadillo{
    font-family: 'Trebuchet MS', Arial, Verdana, Helvetica;
    font-size: 12px;
    color: #666666;
}

#no-link{
    color: #666666;
}

/* POP-UPS */

.jqmWindow {
    display: none;
    position: fixed;
    top: 12%;
    left: 60%;
    margin-left: -300px;
    width: 250px;
    background-color: #eeeeee;
    color: #333;
    border: 1px solid #333333;
    padding: 12px;
}

#error_texto{
    font-family: 'Trebuchet MS', Arial, Verdana, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}

#signeduser {
    font-weight: bolder;
}

.bigger {
    font-size: 14px;
    font-variant: small-caps;
}

.jqmOverlay {
	background-color: #000;
}

/*
 * Fixed posistioning emulation for IE6
 * Star selector used to hide definition from browsers other than IE6
 * For valid CSS, use a conditional include instead
 */
/*
* html .jqmWindow {
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
*/

#Reloj24H {
	color: #999999;
	text-align: right;
	font-size: 18pt;
	font-weight: bold;
}

#intro {
	margin-top:43px;
}

#map_canvas {
	 border:#999999 solid 1px;
	 width:100%;
	 height:517px;
}

#fila_mapa{
	width: 100%;
}

.centrado {
	text-align: center;
}

.derecha {
	text-align: right;
}

.tabla_menu {
	border-spacing: 0;
	border: 0px;
	width: 100%;
}

.tabla_menu td {
	padding: 0;
}

.tabla_menu .derecha {
	vertical-align: top;
}

.img_menu {
	text-align: right;
	vertical-align: middle;
}

.plano_residencia{
	 border: solid black 1px;
	 /*margin: 50px;*/
}

.plano_residencia td {
	border: solid black 1px;
	/*padding: 10px;*/
}

.iconos_validacion {
	margin-top: 40px;
}

.iconos_validacion a {
	 text-decoration: none;
}

.iconos_validacion img {
	 border: 0;
	 width: 88px;
	 height: 31px;
}

.error {
	color: red;
}

.error a {
	color: maroon;
	text-decoration: none;
}