#messages{
    margin-top: 21px;
    height: 508px;
}

#close_messages, #open_messages{
    margin-top: 5px;
}

ul{
	list-style-type: none;
	margin-left: -40px;
}

ul #checkboxAsoc, ul #listaSintomas{
	max-height: 93px;
	width: 220px;
	position: absolute;
	overflow: auto;
	background-color: white;
}

ul li{
	display: none;
}

ul #textoAsoc, ul #textoSintomas{
	display: block;
}

ul:hover #checkboxAsoc, ul:hover #listaSintomas{
	border: solid 1px black;
}

ul:hover li{
	display:block;
}