<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
        
         <!-- Application class name -->
    <context-param>
        <param-name>org.restlet.application</param-name>
        <param-value>
         gsi.rest.DisasterApplication
        </param-value>
    </context-param>
<!-- Restlet adapter -->
    <servlet>
        <servlet-name>RestletServlet</servlet-name>
        <servlet-class>com.noelios.restlet.ext.servlet.ServerServlet</servlet-class>
    </servlet>

     <!-- Catch all requests -->
    <servlet>
        <servlet-name>XpertServlet</servlet-name>
        <servlet-class>gsi.disasters.XpertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestletServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XpertServlet</servlet-name>
        <url-pattern>/Xpert</url-pattern>
    </servlet-mapping>
    
    <!-- Filtering-->
    <filter>
      <filter-name>Security Filter</filter-name>
      <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
      <init-param>
         <param-name>config</param-name>
         <param-value>/WEB-INF/securityfilter-config.xml</param-value>
      </init-param>
      <init-param>
         <param-name>validate</param-name>
         <param-value>true</param-value>
        <!-- <description>Validate config file if set to true</description>-->
      </init-param>
      <init-param>
         <param-name>formPattern</param-name>
         <param-value>/logMeIn</param-value>
      </init-param>
   </filter>

   <!-- map all requests to the SecurityFilter, control what it does with configuration settings -->
   <filter-mapping>
      <filter-name>Security Filter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
    
    <!-- Security -->
    <security-role>
        <description>Administrador</description>
        <role-name>administrador</role-name>
    </security-role>
    
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Aplicacion</web-resource-name>
            <url-pattern>/index.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrador</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>welcome</display-name>
        <web-resource-collection>
            <web-resource-name>Welcome</web-resource-name>
            <description/>
            <url-pattern>/welcome.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>keyboard</display-name>
        <web-resource-collection>
            <web-resource-name>Keyboard</web-resource-name>
            <description/>
            <url-pattern>/css/keyboardstyle.css</url-pattern>
            <url-pattern>/js/jquery-1.2.6.min.js</url-pattern>
            <url-pattern>/js/jquery-fieldselection.js</url-pattern>
            <url-pattern>/js/jquery-ui-personalized-1.5.2.min.js</url-pattern>
            <url-pattern>/js/vkeyboard.js</url-pattern>
            <url-pattern>/keyboard.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>
    -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    
</web-app>
